{% set course = courses|selectattr("id", "equalto", session.course_id)|first if session.course_id else None %}
{% set location = locations|selectattr("id", "equalto", session.location_id)|first if session.location_id else None %}
<div class="session_card {{ 'chill' if session.title.startswith('😎') else 'moderate' if session.title.startswith('🤓') else 'intense' if session.title.startswith('😤') else '' }}" 
     data-session-id="{{ session.id }}"
     data-course-id="{{ session.course_id if session.course_id else '' }}"
     data-location-id="{{ session.location_id if session.location_id else '' }}"
     data-course-name="{{ course.title if course else '' }}"
     data-location-address="{{ location.address if location else '' }}"
     data-course-year="{{ course.year if course else '' }}"
     data-course-term="{{ course.term if course else '' }}"
     data-professor-name="{{ course.professor_name if course else '' }}">
    <div class="session_info">
        <h1>{{ session.title }}</h1>
        <p class="location" style="font-size: 16px;">Location: <span>{{ session.location }}</span></p>
        <p class="time" style="font-size: 16px;">Time: <span>{{ session.time }}</span></p>
        <p class="attendees" style="font-size: 16px;">Attendees: <span>{{ session.attendees }}</span></p>
    </div>
    <div>
        {% if section == 'my_sessions' %}
            <button class="action leave-session" data-session-id="{{ session.id }}">Leave Session</button>
        {% else %}
            <button class="action join-session" data-session-id="{{ session.id }}">Join Session</button>
        {% endif %}
    </div>
</div>