<div class="session_card {{ 'chill' if session.title.startswith('😎') else 'moderate' if session.title.startswith('🤓') else 'intense' if session.title.startswith('😤') else '' }}">
    <div class="session_info">
        <h1>{{ session.title }}</h1>
        <p class="location" style="font-size: 16px;">Location: <span>{{ session.location }}</span></p>
        <p class="time" style="font-size: 16px;">Time: <span>{{ session.time }}</span></p>
        <p class="attendees" style="font-size: 16px;">Attendees: <span>{{ session.attendees }}</span></p>
    </div>
    <div>
        {% if section == 'my_sessions' %}
            <button class="action leave-session">Leave Session</button>
        {% else %}
            <button class="action join-session">Join Session</button>
        {% endif %}
    </div>
</div>