<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  {% include "partials/navbar.html" %}

  <main class="container">

    <h2 class="my_sessions">My Sessions</h2>
        {% include "partials/session_card.html" %}

    <h2 class="join_session">Join a Session</h2>
    <div class="search_create">
        <input type="text" placeholder="Search sessions..." class="search_bar">
        <button class="create_sessions">Create a New Session</button>
    </div>
        {% include "partials/session_card.html" %}
  </main>
  


  
</body>
</html>